In [52]:
import numpy as np
import pandas as pd

In [53]:
df = pd.read_csv('sales_data_sample.csv',encoding='ISO-8859-1')

In [54]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [55]:
df.shape

(2823, 25)

In [56]:
#dropping territory column it is of no use
# and addressline2 is also not more important for our anlysis so we can drop it also
df = df.drop(['TERRITORY','ADDRESSLINE2'],axis =1)

In [57]:
missing_values = df.isnull().sum()
missing_values

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [58]:
df.drop_duplicates(inplace = True)
df.shape

(2823, 23)

In [59]:
#filling out the null fiels in state and postal code column
df.fillna({'STATE' : 'unknown','POSTALCODE' : '00000'},inplace = True)

In [60]:
df.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [61]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,unknown,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,unknown,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,CA,00000,USA,Brown,Julie,Medium

In [62]:
# now there is no null and no duplicate values 
#lets standarize the columns
df['COUNTRY'] = df['COUNTRY'].str.strip().str.lower()
df['CITY'] = df['CITY'].str.strip().str.lower()
df['CUSTOMERNAME'] = df['CUSTOMERNAME'].str.strip().str.lower()

In [63]:
#changing date format
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'], errors='coerce')
df['ORDERDATE'] = df['ORDERDATE'].dt.strftime('%d-%m-%Y')

In [64]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24-02-2003,Shipped,1,2,2003,...,land of toys inc.,2125557818,897 Long Airport Avenue,nyc,NY,10022,usa,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07-05-2003,Shipped,2,5,2003,...,reims collectables,26.47.1555,59 rue de l'Abbaye,reims,unknown,51100,france,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01-07-2003,Shipped,3,7,2003,...,lyon souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,paris,unknown,75508,france,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25-08-2003,Shipped,3,8,2003,...,toys4grownups.com,6265557265,78934 Hillside Dr.,pasadena,CA,90003,usa,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003,Shipped,4,10,2003,...,corporate gift ideas co.,6505551386,7734 Strong St.,san francisco,CA,00000,usa,Brown,Julie,Medium

In [65]:
#exporting our work
df.to_csv('cleaned_sample_data.csv',index = False)

In [66]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24-02-2003,Shipped,1,2,2003,...,land of toys inc.,2125557818,897 Long Airport Avenue,nyc,NY,10022,usa,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07-05-2003,Shipped,2,5,2003,...,reims collectables,26.47.1555,59 rue de l'Abbaye,reims,unknown,51100,france,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01-07-2003,Shipped,3,7,2003,...,lyon souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,paris,unknown,75508,france,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25-08-2003,Shipped,3,8,2003,...,toys4grownups.com,6265557265,78934 Hillside Dr.,pasadena,CA,90003,usa,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003,Shipped,4,10,2003,...,corporate gift ideas co.,6505551386,7734 Strong St.,san francisco,CA,00000,usa,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,02-12-2004,Shipped,4,12,2004,...,euro shopping channel,(91) 555 94 44,"C/ Moralzarzal, 86",madrid,unknown,28034,spain,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,31-01-2005,Shipped,1,1,2005,...,"oulu toy supplies, inc.",981-443655,Torikatu 38,oulu,unknown,90110,finland,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,01-03-2005,Resolved,1,3,2005,...,euro shopping channel,(91) 555 94 44,"C/ Moralzarzal, 86",madrid,unknown,28034,spain,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,28-03-2005,Shipped,1,3,2005,...,alpha cognac,61.77.6555,1 rue Alsace-Lorraine,toulouse,unknown,31000,france,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,06-05-2005,On Hold,2,5,2005,...,gifts4allages.com,6175559555,8616 Spinnaker Dr.,boston,MA,51003,usa,Yoshido,Juri,Medium